<div class="container w-50 rounded border-black text-center p-5 mt-5" style="background-color: rgba(155, 165, 42, 0.533);">
    <h1>Sign up to Bank</h1>
    <form action="" (ngSubmit)="register()">
        <div class="p-3 mt-2">
            <input [(ngModel)]="uname" id="uname" name="uname1" class="form-control" type="text" placeholder="Enter User Name">
        </div>
        <div class="p-3 mt-2">
            <input [(ngModel)]="acno" id="acno" name="acntno1" class="form-control" type="text" placeholder="Enter Account Number">
        </div>
        <div class="p-3 mt-2">
            <input [(ngModel)]="psw" id="psw" name="paswrd1" class="form-control" type="text" placeholder="Password">
        </div>
        <div class="p-3 mt-2">
            <button type="submit"  class="btn btn-outline-light text-black">Signup</button>
        </div>
       
    </form>
</div>